<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>4D96AECC-7754-43DB-83E8-5D47BA122134</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BDFD687-1656-4DB8-935D-3096F42E266F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>598A781A-BE08-4063-B23E-5B8426BC63E1</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Evan Lovely</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Project Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC9F0D22-2740-43D0-A373-ED7F8B97BD9A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ps</string>
				<key>runningsubtext</key>
				<string>Looking...</string>
				<key>script</key>
				<string>ls ~/projects/</string>
				<key>subtext</key>
				<string>Select a project to switch focus to</string>
				<key>title</key>
				<string>Switch Projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>955D543F-EA60-4F44-ADCA-2AA10D6401D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>rm -rf ~/projects/active &amp;&amp;
ln -s "{query}" ~/projects/active</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7BDFD687-1656-4DB8-935D-3096F42E266F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>psf</string>
				<key>scopes</key>
				<array>
					<string>~/projects</string>
				</array>
				<key>subtext</key>
				<string>file filter</string>
				<key>title</key>
				<string>Project Switcher</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>4D96AECC-7754-43DB-83E8-5D47BA122134</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Set Project Site Root</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>598A781A-BE08-4063-B23E-5B8426BC63E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4D96AECC-7754-43DB-83E8-5D47BA122134</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>598A781A-BE08-4063-B23E-5B8426BC63E1</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>7BDFD687-1656-4DB8-935D-3096F42E266F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>955D543F-EA60-4F44-ADCA-2AA10D6401D0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FC9F0D22-2740-43D0-A373-ED7F8B97BD9A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
