<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0F7E9933-3CD8-45EB-964D-D32043E959DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A440DEC7-CFB5-4835-8F5F-304F75D7380E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>279C4C88-EE1B-4977-AFD5-EC907831075C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5C20E8F-24B4-4E07-949C-FE1082BCF2BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3D39E70E-5DB3-4780-917C-ACD5CA9C2CEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5C20E8F-24B4-4E07-949C-FE1082BCF2BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>44D5B0B5-FC29-4217-8655-6EAC07BE2712</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D39E70E-5DB3-4780-917C-ACD5CA9C2CEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4D96AECC-7754-43DB-83E8-5D47BA122134</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BDFD687-1656-4DB8-935D-3096F42E266F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>598A781A-BE08-4063-B23E-5B8426BC63E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>279C4C88-EE1B-4977-AFD5-EC907831075C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5FA64466-7453-4ADB-8208-3288DAFC9F00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEE42D25-C472-441A-A97B-7A43F081A9F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7BDFD687-1656-4DB8-935D-3096F42E266F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5C20E8F-24B4-4E07-949C-FE1082BCF2BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Evan Lovely</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Project Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC9F0D22-2740-43D0-A373-ED7F8B97BD9A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>rm -rf ~/projects/active &amp;&amp;
ln -s "{query}" ~/projects/active
echo "Active Project set to {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7BDFD687-1656-4DB8-935D-3096F42E266F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>ps</string>
				<key>scopes</key>
				<array>
					<string>~/projects</string>
				</array>
				<key>subtext</key>
				<string>Select a project to switch focus to</string>
				<key>title</key>
				<string>Project Switcher</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>4D96AECC-7754-43DB-83E8-5D47BA122134</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ls -l ~/projects/ | grep active | sed 's,^.*projects/,,'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D39E70E-5DB3-4780-917C-ACD5CA9C2CEC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>p?</string>
				<key>subtext</key>
				<string>For the Project Helper</string>
				<key>text</key>
				<string>What Project am I on?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>44D5B0B5-FC29-4217-8655-6EAC07BE2712</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Project Switcher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E5C20E8F-24B4-4E07-949C-FE1082BCF2BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ln -s "{query}" ~/projects/active/site-root</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>279C4C88-EE1B-4977-AFD5-EC907831075C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Set Project Site Root</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>598A781A-BE08-4063-B23E-5B8426BC63E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ln -s "{query}" ~/projects/active/links</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEE42D25-C472-441A-A97B-7A43F081A9F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Set Project Links Folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5FA64466-7453-4ADB-8208-3288DAFC9F00</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A440DEC7-CFB5-4835-8F5F-304F75D7380E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemOMUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemWhereFroms</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>,p links</string>
				<key>scopes</key>
				<array>
					<string>~/projects/active/links</string>
				</array>
				<key>subtext</key>
				<string>Finding… Can Type to Filter.</string>
				<key>title</key>
				<string>Show Links for Active Project</string>
				<key>types</key>
				<array>
					<string>com.apple.web-internet-location</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0F7E9933-3CD8-45EB-964D-D32043E959DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0F7E9933-3CD8-45EB-964D-D32043E959DB</key>
		<dict>
			<key>ypos</key>
			<real>1500</real>
		</dict>
		<key>279C4C88-EE1B-4977-AFD5-EC907831075C</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>3D39E70E-5DB3-4780-917C-ACD5CA9C2CEC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>44D5B0B5-FC29-4217-8655-6EAC07BE2712</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4D96AECC-7754-43DB-83E8-5D47BA122134</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>598A781A-BE08-4063-B23E-5B8426BC63E1</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>5FA64466-7453-4ADB-8208-3288DAFC9F00</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>7BDFD687-1656-4DB8-935D-3096F42E266F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A440DEC7-CFB5-4835-8F5F-304F75D7380E</key>
		<dict>
			<key>ypos</key>
			<real>1500</real>
		</dict>
		<key>E5C20E8F-24B4-4E07-949C-FE1082BCF2BB</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>EEE42D25-C472-441A-A97B-7A43F081A9F8</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>FC9F0D22-2740-43D0-A373-ED7F8B97BD9A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
